/* //////////////////////////////////////////////
//////               Fonts                 //////
////////////////////////////////////////////// */
@font-face {
  font-family: MontserratRegular;
  src: url(./fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: MontserratMedium;
  src: url(./fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: MontserratLight;
  src: url(./fonts/Montserrat-Light.ttf);
}

/* //////////////////////////////////////////////
//////           Paleta de color           //////
////////////////////////////////////////////// */

 /* OPCIÓN 1 */
  /* fondo = 303030
  texto y bordes = bd0052
  color1 = aae6de
  color2 = f5c6ec
  color3 = ffedab */

/* //////////////////////////////////////////////
//////                 Texto               //////
////////////////////////////////////////////// */
html, body{
  font-family: MontserratRegular;
  color: #ffffff;
  margin:0;
}

#background{
  background-color: #303030;
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10000;
}

h1 {
	color: #ffffff;
	font-family: MontserratRegular;
  font-size: 4.5vw;
} @media only screen and (max-width: 1060px) {
  h1 {
    font-size: 6vw;
  }
} @media only screen and (max-width: 600px) {
  h1 {
    font-size: 10vw;
  }
}

h2 {
	color: #ffffff;
	font-family: MontserratLight;
  font-size: 1.5vw;
  line-height: 1;
} @media only screen and (max-width: 1060px) {
  h2 {
    font-size: 3vw;
  }
} @media only screen and (max-width: 600px) {
  h2 {
    font-size: 4.8vw;
  }
}

h3 {
  color: #ffffff;
	font-family: MontserratRegular;
  font-size: 7vh;
  line-height: 1;
} @media (orientation: portrait){
  h3 {
    font-size: 4vh;
    line-height: 1.2;
  }
}

h6 {
	color: #ffffff;
	font-family: MontserratMedium;
  font-size: .6vw;
} @media only screen and (max-width: 1060px) {
  h6 {
    font-size: .9vw;
  }
} @media only screen and (max-width: 600px) {
  h6 {
    font-size: 2.1vw;
  }
}

p {
	color: #303030;
	font-family: MontserratMedium;
  font-size: .66vw;
  line-height: 1vw;
  /* text-align: justify; */
} @media only screen and (max-width: 1060px) {
  p {
    font-size: 1vw;
    line-height: 2vw;
  }
} @media only screen and (max-width: 600px) {
  p {
    font-size: 1.8vw;
    line-height: 3vw;
  }
}

#center {
  position: relative;
}


/* //////////////////////////////////////////////
//////         Ventanas cerrable 1         //////
////////////////////////////////////////////// */
.reel1{
  display: inline-block;
  padding: .5vw;
  margin-left: .5vw;
  background-color: #94ab9e;
  position: absolute;
  left: 3vw;
  top: 0vw;
  color: #ffffff;
  border: 1px solid #ffffff;
  width: 27vw;
  height: 21.5vw;
  z-index: 0;
  font-size: .9vw;
} @media only screen and (max-width: 1060px) {
  .reel1 {
    display: none
  }
} @media only screen and (max-width: 600px) {
  .reel1{
    display: none
  }
}



/* //////////////////////////////////////////////
//////         Ventanas cerrables 2         //////
////////////////////////////////////////////// */
.alert {
  display: inline-block;
  padding: .5vw;
  background-color: #94ab9e;
  position: absolute;
  left: 45vw;
  top: 9vw;
  color: #ffffff;
  border: 1px solid #ffffff;
  width: 27vw;
  height: 12.5vw;
  z-index: 10;
  font-size: .9vw;
  padding-left: 1vw;
} @media only screen and (max-width: 1060px) {
  .alert {
    padding: 1vw;
    width: 35vw;
    height: 15vw;
    left: 44vw;
    top: 23vw;
    font-size: 1.2vw;
  }
} @media only screen and (max-width: 600px) {
  .alert {
    padding: 1vw;
    top: 93vw;
    left: 5vw;
    width: 65vw;
    height: 27vw;
    font-size: 2.5vw;
  }
}


.closebtn {
  float: right;
  color: #ffffff;
  font-size: 3vh;
  line-height: 2.2vh;
  cursor: pointer;
  margin: 0vw;
  padding: 0 .2vh 0 .2vh;
  border-style: outset;
  background-color: #bad9c8;
}

.closebtn:hover {
  background-color: #94ab9e;
  color: #ffffff;
}

.closebtn_index {
  float: right;
  color: #ffffff;
  font-size: 1.5vw;
  line-height: 1.1vw;
  cursor: pointer;
  margin: 0vw;
  padding: 0 .1vw 0 .1vw;
  border-style: outset;
  background-color: #bad9c8;
}

.closebtn_index:hover {
  background-color: #94ab9e;
  color: #ffffff;
}

hr.new1 {
  border-top: .2px solid #ffffff;
}

.header_index {
  margin-right: 2vw;
  border-style:groove;
  padding-left: .5vw;
  background-color: #94ab9e;
} @media only screen and (max-width: 1060px) {
  .header_index {
  }
} @media only screen and (max-width: 600px) {
  .header_index{
  }
}

.header {
  margin-right: 4vh;
  border-style:groove;
  padding-left: 1vh;
  background-color: #94ab9e;
}


/* //////////////////////////////////////////////
//////          diseño de párrafo          //////
////////////////////////////////////////////// */
#info1 {
  width: 16.35134vw;
  position: absolute;
  top: 24.5vw;
  left: 52.25vw;
  z-index: 10;
  font-size: .9vw;
  border: 1px solid #ffffff;
  background-color: #94ab9e;
  padding: .5vw .7vw 0vw .7vw;
} @media only screen and (max-width: 1060px){
  #info1 {
    top: 40vw;
    left: 65vw;
    width: 14.5vw;
  }
} @media only screen and (max-width: 600px) {
  #info1 {
    top: 122vw;
    left: 7vw;
    width: 24vw;
    z-index: 10;
  }
}

#nota {
  background-color: #ffffff;
  padding: .7vw;
  border-style:groove;
}

#titulo {
  text-align: right;
  padding-top:2vw;
  margin: 0;
  padding-right: .5vw;
} @media only screen and (max-width: 600px){
  #titulo {
    padding-top: 3vw;
    text-align: left;
    padding-left: .5vw;
  }
}

#subtitulo {
  text-align: right;
  margin: 0;
  padding-right: .5vw;
} @media only screen and (max-width: 600px){
  #subtitulo {
    text-align: left;
    padding-left: .5vw;
  }
}

/* //////////////////////////////////////////////
//////             P5 Sketch               //////
////////////////////////////////////////////// */

#sketch-holder{
  position: absolute;
  top: 1vw;
  left: 27vw;
  border: 1px solid #ffffff;
} @media only screen and (max-width: 1060px){
  #sketch-holder{
    top: 0vw;
    left: 17vw;
  }
} @media only screen and (max-width: 600px) {
  #sketch-holder{
    top: 0vw;
    left: 10vw;
  }
}

#pic-holder{
  position: absolute;
  top: 4vw;
  left: 27vw;
  border: 1px solid #ffffff;
  background-image: url(../assets/portada.jpg);
  background-size: cover;
  width: 23vw;
  height: 34vw;
} @media only screen and (max-width: 1060px){
  #pic-holder{
    top: 0vw;
    left: 17vw;
    width: 35vw;
    height: 53vw;
  }
} @media only screen and (max-width: 600px) {
  #pic-holder{
    top: 0vw;
    left: 10vw;
    width: 55vw;
    height: 82vw;
  }
}

/* //////////////////////////////////////////////
//////          Cuadros de fondo           //////
////////////////////////////////////////////// */

#cuadroVerde1{
  background-color: #fff200;
  position: absolute;
  top: 0;
  left: 0;
  width: 0vw;
  height: 0vw;
  z-index: -5;
} @media only screen and (max-width: 600px){
  #cuadroVerde1{
    top: 7vw;
    width: 71vw;
    height: 23vw;
    z-index: -50;
  }
}

#cuadroVerde2{
  /* opacity: .7; */
  background-color: #52ff60;
  position: absolute;
  top: 10vw;
  left: 46vw;
  width: 28.5vw;
  height: 13.5vw;
  z-index: 0;
} @media only screen and (max-width: 1060px){
  #cuadroVerde2{
    top: 26vw;
    left: 47vw;
    width: 37vw;
    height: 17vw;
  }
} @media only screen and (max-width: 600px){
  #cuadroVerde2{
    top: 100vw;
    left: 10vw;
    width: 67vw;
    height: 27vw;
    z-index: 5;
  }
}

#cuadroVerde3{
  opacity: .4;
  background-image: linear-gradient(-90deg, #566def, #566def, #f867e9, #52ff60);
  position: absolute;
  height: 100%;
  min-height: 45vw;
  left: 0;
  width: 45vw;
  top: 0;
  z-index: -102;
  overflow-x: hidden !important;
} @media only screen and (max-width: 1060px){
  #cuadroVerde3{
    height: 100vw;
    min-height: 100vh;
    width: 23vw;
  }
} @media only screen and (max-width: 600px){
  #cuadroVerde3{
    width: 0;
    height: 0;
  }
}

#cuadroVerde3Frame{
  top: 0;
  background-color: #303030;
  position: absolute;
  height: 40vw;
  left: 0vw;
  width: 45vw;
  z-index: -101;
  overflow-x: hidden !important;
}

#cuadroVerde4{
  background-color: #CB829A;
  position: absolute;
  height: 100%;
  min-height: 45vw;
  left: 74vw;
  width: 26vw;
  top: 0;
  z-index: -7;
  overflow-x: hidden !important;
} @media only screen and (max-width: 1060px){
  #cuadroVerde4{
    height: 100vw;
    min-height: 100vh;
  }
} @media only screen and (max-width: 600px){
  #cuadroVerde4{
    width: 15vw;
    left: 85vw;
    height: 130vw;
    min-height: 130vh;
  }
}

#cuadroVerde4Frame{
  top: 0;
  background-color: #303030;
  position: absolute;
  height: 43vw;
  left: 70vw;
  width: 30vw;
  z-index: -6;
  overflow-x: hidden !important;
} @media only screen and (max-width: 1060px){
  #cuadroVerde4Frame {
    height: 75vw;
  }
} @media only screen and (max-width: 600px){
  #cuadroVerde4Frame{
    width: 15vw;
    height: 140vw;
    left: 85vw;
  }
}

#cuadroAzul1{
  /* opacity: .8; */
  background-color: #52ff60;
  position: absolute;
  top: 12vw;
  left: 0;
  width: 35vw;
  height: 3vw;
  z-index: -5;
} @media only screen and (max-width: 600px){
  #cuadroAzul1 {
    top: 30vw;
    height: 10vw;
    z-index: -50;
  }
}

#cuadroRojo1{
  background-color: #566def;
  position: absolute;
  top: 5.25vw;
  left: 28.25vw;
  width: 23vw;
  height: 34vw;
  z-index: -5;
} @media only screen and (max-width: 1060px){
  #cuadroRojo1{
    top: 3vw;
    left: 20vw;
    width: 35vw;
    height: 53vw;
  }
} @media only screen and (max-width: 600px) {
  #cuadroRojo1{
    top: 5vw;
    left: 5vw;
    width: 55vw;
    height: 83vw
  }
}

#reel1_sombra{
  background-color: #f867e9;
  position: absolute;
  left: 4vw;
  top: 1vw;
  width: 28.5vw;
  height: 22.5vw;
  z-index: -5;
} @media only screen and (max-width: 1060px) {
  #reel1_sombra{
    display: none
  }
} @media only screen and (max-width: 600px) {
  #reel1_sombra{
    display: none
  }
}

#info1_sombra{
  background-color: #f867e9;
  position: absolute;
  top: 25.5vw;
  left: 53.5vw;
  width: 17.75vw;
  height: 15.75vw;
  z-index: -2;
} @media only screen and (max-width: 1060px) {
  #info1_sombra{
    display: none
  }
} @media only screen and (max-width: 600px) {
  #info1_sombra{
    display: none
  }
}

#videoFrame{
  position: absolute;
  /* background: #303030; */
  background-image: linear-gradient( #394589, #303030, #303030, #303030);
  z-index: -55;
  top: 0;
  left: 60vw;
  width: 40vw;
  height: 100%;
  min-height: 45vw;
  overflow-x: hidden !important;
} @media only screen and (max-width: 1060px){
  #videoFrame {
    left: 61vw;
    width: 39vw;
  }
} @media only screen and (max-width: 600px) {
  #videoFrame {
    left: 56vw;
    width: 44vw;
  }
}

#degradado_final{
  position: absolute;
  opacity: .2;
  background-image: linear-gradient( #52ff60,  #52ff60, #f867e9, #303030);
  z-index: -45;
  top: 0;
  left: 89vw;
  width: 11vw;
  height: 23vw;
  overflow-x: hidden !important;
} @media only screen and (max-width: 1060px){
  #degradado_final{
    display: none;
  }
} @media only screen and (max-width: 600px) {
  #degradado_final{
  }
}

#videoStatic {
  position: absolute;
  z-index: -100;
  top: 0vw;
  left: 38vw;
  height: 42vw;
  width: auto;
  overflow-x: hidden !important;
} @media only screen and (max-width: 1060px){
  #videoStatic {
    left: 0;
    width: 61vw;
    height: auto;
    top: -15vw;
  }
} @media only screen and (max-width: 600px) {
  #videoStatic {
    left: 0;
    width: 80vw;
    height: auto;
    top: 15vw;
  }
}

#videoInteractivo1 {
  position: absolute;
  z-index: -4;
  /* top: 20vw;
  left: 70vw; */
  width: 27vw;
  height: auto;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
} @media only screen and (max-width: 1060px){
  #videoInteractivo1 {
    display: none
  }
} @media only screen and (max-width: 600px) {
  #videoInteractivo1 {
    display: none
  }
}

#videoInteractivo {
  position: absolute;
  z-index: -4;
  top: 22.65vw;
  left: 70vw;
  width: 30vw;
  height: auto;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
} @media only screen and (max-width: 1060px){
  #videoInteractivo {
    top: 60vw;
    left: 52vw;
    width: 48vw;
  }
} @media only screen and (max-width: 600px) {
  #videoInteractivo {
    top: 122vw;
    left: 32vw;
    width: 68vw;
  }
}


/* //////////////////////////////////////////////
//////         Botones de carpetas         //////
////////////////////////////////////////////// */

#boton_texto{
  margin-top: .5vw;
}

#boton1{
  position: absolute;
  left: 78vw;
  top: 0vw;
} @media only screen and (max-width: 1060px){
  #boton1 {
    left: 62vw;
    top: 3vw;
  }
} @media only screen and (max-width: 600px){
  #boton1 {
    left: 72.5vw;
    top: 0vw;
  }
}

#boton2{
  position: absolute;
  left: 78vw;
  top: 7vw;
} @media only screen and (max-width: 1060px){
  #boton2 {
    left: 62vw;
    top: 13vw;
  }
} @media only screen and (max-width: 600px){
  #boton2 {
    left: 72.5vw;
    top: 25vw;
  }
}

#boton3{
  position: absolute;
  left: 78vw;
  top: 14vw;
} @media only screen and (max-width: 1060px){
  #boton3 {
    left: 73vw;
    top: 13vw;
  }
} @media only screen and (max-width: 600px){
  #boton3 {
    left: 72.5vw;
    top: 50vw;
  }
}

#boton4{
  position: absolute;
  left: 86vw;
  top: 2vw;
} @media only screen and (max-width: 1060px){
  #boton4 {
    left: 17vw;
    top: 60vw;
  }
} @media only screen and (max-width: 600px){
  #boton4 {
    left: 12.5vw;
    top: 150vw;
  }
}

#boton5{
  position: absolute;
  left: 8vw;
  top: 28vw;
} @media only screen and (max-width: 1060px){
  #boton5 {
    left: 28vw;
    top: 60vw;
  }
} @media only screen and (max-width: 600px){
  #boton5 {
    left: 35vw;
    top: 150vw;
    z-index: 10;
  }
}

#boton6{
  position: absolute;
  left: 16vw;
  top: 30.5vw;
} @media only screen and (max-width: 1060px){
  #boton6 {
    left: 39vw;
    top: 60vw;
  }
} @media only screen and (max-width: 600px){
  #boton6 {
    left: 5vw;
    top: 173vw;
  }
}

#boton7{
  position: absolute;
  left: 8vw;
  top: 34.5vw;
} @media only screen and (max-width: 1060px){
  #boton7 {
    left: 28vw;
    top: 70vw;
  }
} @media only screen and (max-width: 600px){
  #boton7 {
    left: 27.5vw;
    top: 173vw;
  }
}


#boton8{
  position: absolute;
  left: 16vw;
  top: 37vw;
} @media only screen and (max-width: 1060px){
  #boton8 {
    left: 39vw;
    top: 70vw;
  }
} @media only screen and (max-width: 600px){
  #boton8 {
    left: 50vw;
    top: 173vw;
  }
}


#boton9{
  position: absolute;
  left: 8vw;
  top: 21vw;
} @media only screen and (max-width: 1060px){
  #boton9 {
    left: 28vw;
    top: 80vw;
  }
} @media only screen and (max-width: 600px){
  #boton9 {
    left: 72.5vw;
    top: 173vw;
  }
}

/* ---------------Carpeta------------------ */

.botonRosa{
  background:url(./carpetas_img/c_volumen.png) no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  border: none;
  width: 5vw;
  height: 3.5vw;
  font-family: DMSerif;
} @media only screen and (max-width: 1060px){
  .botonRosa {
    width: 7.5vw;
    height: 5.25vw;
  }
} @media only screen and (max-width: 600px){
  .botonRosa {
    width: 17vw;
    height: 12vw;
  }
}

.botonRosa:hover {
    background:url(./carpetas_img/c_volumen_hover.png) no-repeat;
    background-size: cover;
    button:focus {outline:0;}
}

.botonRosa:active {
    background:url(./carpetas_img/c_volumen_hover.png) no-repeat;
    background-size: cover;
    button:focus {outline:0;}
}

.botonRosa:focus {
  outline:0;
}

/* //////////////////////////////////////////////
//////             Collección 1            //////
////////////////////////////////////////////// */

#container {
  overflow-y:scroll;
  overflow-x:hidden;
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  background-color:#999;
  position:absolute;
  width:100vh;
  height:100vw;
}
#container2 {
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  white-space:nowrap;
  font-size:0;
}

/* -----------   seccion 1   -----------*/

.info_coleccion1{
  display: inline-block;
  padding: 1.5vh;
  background-color: #94ab9e;
  position: absolute;
  left: 51vh;
  top: 58vh;
  color: #ffffff;
  border: 1px solid #ffffff;
  width: 62vh;
  height: 25vh;
  z-index: 10;
  font-size: 1.7vh;
} @media (orientation: portrait){
  .info_coleccion1{
    top: 46vh;
    left: 2vh;
    width: 32vh;
    height: 14vh;
  }
}

#video_coleccion1{
  position: absolute;
  z-index: -4;
  height: 55vh;
  width: auto;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
} @media (orientation: portrait){
  #video_coleccion1{
    height: 36vh;
  }
}

#info_coleccion1_sombra{
  background-color: #566def;
  position: absolute;
  left: 48vh;
  top: 65.5vh;
  width: 65vh;
  height: 23.5vh;
} @media (orientation: portrait){
  #info_coleccion1_sombra{
    top: 51vh;
    left: 4vh;
    width: 36vh;
    height: 15vh;
  }
}

#video_holder{
  top: 10vh;
  position: absolute;
  left: 10vh;
  border: 1px solid #ffffff;
  width: 80vh;
  height: 55vh;
  z-index: 0;
} @media (orientation: portrait){
  #video_holder{
    height: 36vh;
    width: 52.3vh;
    top: 15vh;
    left: 7vh;
  }
}

#video1_sombra{
  background-color: #52ff60;
  position: absolute;
  top: 13vh;
  left: 7.5vh;
  width: 80vh;
  height: 55vh;
  z-index: -5;
} @media (orientation: portrait){
  #video1_sombra{
    height: 40vh;
    width: 58vh;
    top: 12vh;
    left: 4vh;
  }
}

#video-holder-movil{
  display: none;
} @media (orientation: portrait){
  #video-holder-movil{
    display: inline-block;
    position: absolute;
    top: 69vh;
    left: 6vh;
    border: 1px solid #ffffff;
    width: 37.5vh;
    height: 15.7vh;
    z-index: -15;
  }
}

#videoMovil{
  display: none;
} @media (orientation: portrait){
  #videoMovil{
    display: inline-block;
    position: absolute;
    z-index: -4;
    width: auto;
    height: 15.7vh;
  }
}

#degradado1{
  opacity: .4;
  background-image: linear-gradient(-90deg, #394589, #566def, #566def, #f867e9,#52ff60);
  position: absolute;
  height: 20vh;
  left: 0;
  width: 103vh;
  top: 80vh;
  z-index: -102;
} @media (orientation: portrait){
  #degradado1{
    height: 13vh;
    top: 88vh;
  }
}

#videoStatic1 {
  position: absolute;
  z-index: -100;
  top: 15vh;
  left: 90.75vh;
  height: 65vh;
  width: auto;
  overflow-x: hidden !important;
} @media (orientation: portrait) {
  #videoStatic1 {
  top: 7vh;
  left: 29vh;
  z-index: -500;
  }
}




/* ____________________________________ */
/* -----------   seccion 2   ----- -----*/
/* ____________________________________ */

.look1{
  left: 127vh;
  top: 24.5vh;
  display: inline-block;
  padding: 1.5vh;
  background-color: #94ab9e;
  position: absolute;
  color: #ffffff;
  border: 1px solid #ffffff;
  height: 62vh;
  z-index: 10;
  font-size: 1.7vh;
} @media (orientation: portrait){
  .look1 {
    left: 50vh;
  }
}

.look1_sombra{
  background-color: #f867e9;
  display: inline-block;
  position: absolute;
  z-index: -10;
  left: 142.5vh;
  top: 7vh;
  height: 61vh;
  width: 41vh;
} @media (orientation: portrait) {
  .look1_sombra{
    left: 68vh;
  }
}

.look2{
  left: 133vh;
  top: 17.25vh;
  display: inline-block;
  padding: 1.5vh;
  background-color: #94ab9e;
  position: absolute;
  color: #ffffff;
  border: 1px solid #ffffff;
  height: 61vh;
  z-index: 5;
  font-size: 1.7vh;
} @media (orientation: portrait) {
  .look2 {
    left: 56vh;
  }
}

.look3{
  left: 139vh;
  top: 10vh;
  display: inline-block;
  padding: 1.5vh;
  background-color: #94ab9e;
  position: absolute;
  color: #ffffff;
  border: 1px solid #ffffff;
  height: 61vh;
  z-index: 0;
  font-size: 1.7vh;
} @media (orientation: portrait){
  .look3 {
    left: 62vh;
  }
}

#video-holder2{
  position: absolute;
  top: 57vh;
  left: 157vh;
  border: 1px solid #ffffff;
  width: 67.3vh;
  height: 28vh;
  z-index: -5;
} @media (orientation: portrait){
  #video-holder2{
    left: 80vh;
  }
}

#video2 {
  position: absolute;
  z-index: -4;
  width: auto;
  height: 28vh;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
} @media (orientation: portrait){
  #video2  {
  }
}

.look4{
  display: inline-block;
  background-color: #94ab9e;
  position: absolute;
  left: 203vh;
  top: 10vh;
  color: #ffffff;
  border: 1px solid #ffffff;
  height: 68.5vh;
  z-index: 0;
  padding: 1.5vh;
  font-size: 1.7vh;
} @media (orientation: portrait){
  .look4{
    left: 126vh;
  }
}

#degradado2{
  opacity: .4;
  position: absolute;
  background-image: linear-gradient( #f867e9, #f867e9, #303030);
  z-index: -5000;
  top: 0;
  left: 190vh;
  width: 40vh;
  height: 50vh;
  overflow-x: hidden !important;
} @media (orientation: portrait){
  #degradado2{
    left: 113vh;
  }
}

#videoStatic2 {
  position: absolute;
  z-index: -100;
  top: 28vh;
  left: 210vh;
  height: 65vh;
  width: auto;
  overflow-x: hidden !important;
} @media (orientation: portrait){
  #videoStatic2 {
    left: 133vh;
  }
}

.look5{
  display: inline-block;
  background-color: #94ab9e;
  position: absolute;
  left: 259vh;
  top: 10vh;
  color: #ffffff;
  border: 1px solid #ffffff;
  height: 75.7vh;
  z-index: 0;
  padding: 1.5vh;
  font-size: 1.7vh;
} @media (orientation: portrait){
  .look5{
    left: 182vh;
  }
}

.look6{
  display: inline-block;
  background-color: #94ab9e;
  position: absolute;
  left: 295vh;
  top: 17.5vh;
  color: #ffffff;
  border: 1px solid #ffffff;
  height: 65vh;
  z-index: 0;
  padding: 1.5vh;
  font-size: 1.7vh;
} @media (orientation: portrait){
  .look6{
    left: 218vh;
  }
}

#sombra_final{
  background-color: #566def;
  position: absolute;
  left: 256vh;
  top: 7vh;
  width: 100vh;
  height: 65vh;
  z-index: -100;
} @media (orientation: portrait){
  #sombra_final{
    left: 177vh;
  }
}

#degradado3{
  opacity: .4;
  position: absolute;
  background-image: linear-gradient( #303030, #52ff60);
  z-index: -5000;
  top: 60vh;
  left: 300vh;
  width: 65vh;
  height: 50vh;
  overflow-x: hidden !important;
} @media (orientation: portrait){
  #degradado3{
    left: 223vh;
  }
}

#video-holder3{
  position: absolute;
  top: 10vh;
  left: 320vh;
  border: 1px solid #ffffff;
  width: 67.3vh;
  height: 28vh;
  z-index: -15;
} @media (orientation: portrait){
  #video-holder3{
    left: 243vh;
  }
}

#video3 {
  position: absolute;
  z-index: -4;
  width: auto;
  height: 28vh;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
} @media (orientation: portrait){
  #video3  {
  }
}

#fondo_col{
  background-color: #303030;
  position: absolute;
  left: 0vw;
  top: 0;
  width: 394vh;
  height: 100vh;
  z-index: -10000;
} @media (orientation: portrait){
  #fondo_col{
    width: 317vh;
  }
}
